@import "../stylesheets/_variables.scss";

:host {
  display: flex;
  flex: 1;
}

.hra-main-container {
  min-height: calc(100vh - #{$hra-toolbar-height});
  margin: 0 auto $hra-toolbar-height;
  max-width: $hra-container-width;
  width: 100vw;
  padding: 1rem;
}
